.logo-contain {
  max-width: 12vw;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

/*STYLING FOR YOUTUBE LAZY LOADER*/
.youtube {
  background-color: #000;
  /* margin-bottom: 30px; */
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
  transform: scale(1.08);
  filter: brightness(0.4);
  transition: filter 0.5s;
}

.youtube img:hover {
  filter: brightness(1);
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/*END YOUTUBE LAZY LOADER*/

#video-bg {
  width: 100%;
  height: auto;
  transform: scale(1.02);
}

.nav-link {
  font-size: 30px;
  text-transform: uppercase;
}

.footer {
  background: white !important;
  padding: 10%;
}

footer h3 {
  font-family: "Garamond";
  text-align: center;
  font-size: 18px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.our-music {
  background: white;
  padding: 20px;
  font-family: "EB Garamond, sans-serif";
  font-size: 60px;
  font-weight: 800;
}
.socials i:hover {
  filter: brightness(2);
  transform: scale(1.2);
}

.backTop i:hover {
  filter: brightness(2);
  transform: scale(1.2);
}

.backTop i {
  position: fixed;
  bottom: 5px;
  right: 20px;
  color: #8b0000;
  border-radius: 15%;
  padding: 5px;
  z-index: 1;
  opacity: 0.5;
}

.socials {
  display: flex;
  flex-direction: column;
  right: 20px;
  bottom: 50%;
  position: fixed;
  z-index: 2;
  color: #8b0000;
  opacity: 0.75;
}

.socials a {
  color: #8b0000;
}

.socials i:hover {
  cursor: pointer;
}

.socials a:nth-child(3) {
  margin-left: 2px;
}

.socials i {
  padding: 5px;
  font-size: 40px;
}

.backTop i {
  font-size: 50px;
}

.padForm {
  padding-top: 10%;
  padding-bottom: 10%;
}

.music-row {
  padding-top: 10%;
  padding-bottom: 10%;
}

.container-fluid {
  background: black;
}

.container {
  background: white;
}

.videos-title {
  background: white;
}

.video-container {
  padding-bottom: 10%;
}

.navbar {
  background: white;
  color: black;
  font-family: "EB Garamond";
}

.formBtn {
  background: #8b0000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: "EB Garamond";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  border-radius: 15px;
}

h1 {
  font-family: "EB Garamond";
}

.wrap-contact2 {
  display: flex;
  align-self: center;
  padding: 5%;
}

.navbar * {
  color: black;
}
.navbar *:hover {
  color: #8b0000;
}

.custom-toggler.navbar-toggler {
  border-color: #8b0000;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.myCard {
  background: black;
  outline: 1px white;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.myCard:hover {
  transform: scale(1.05);
}

.myCardBody {
  background: white;
}

.btn-#8B0000 {
  background: #8b0000;
  outline: none;
  border: none;
}

.videos {
  background: white;
}

iframe {
  outline: none;
  border: none;
  border-radius: 0px;
  filter: brightness(0.4);
  transition: filter 0.5s;
}

iframe:hover {
  filter: brightness(1);
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("../img/crowd.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title {
  text-align: center;
  position: absolute;
  top: 10%;

  color: white;
}

.hero-text {
  font-family: "EB Garamond";
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 40%;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.contact2-form-title {
  font-family: "EB Garamond";
}

form {
  font-family: "EB Garamond";
}

/*SIDEBAR OVERLAY*/
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.bandsintown {
  background: url("../img/bandsintown.svg");
  background-repeat: no-repeat;
  height: 35px;
  margin-left: 17%;
  margin-top: 8%;
}

@media only screen and (max-width: 1300px) {
  .music-row {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .socials {
    right: 8px;
    bottom: 35%;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 8px;
  }

  .myCard {
    background: black;
    outline: 1px white;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    padding-bottom: 10%;
  }

  .wrap-contact2 {
    max-width: 75vw;
  }

  .hero-title {
    top: 6%;
  }

  .hero-text {
    font-family: "EB Garamond";
    font-size: 2.5vh;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 20%;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-link {
    font-size: 20px;
  }

  .backTop i {
    right: 8px;
  }

  #video-bg {
    transform: scale(1.08);
  }
}
